app = "tarti-flette"
primary_region = "fra"

[build]
dockerfile = "Dockerfile"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[processes]
app = "npm start"




[[vm]]
memory = "1gb"
cpu_kind = "shared"
cpus = 1

