name: Fly Deploy
on:
  push:
    branches:
      - main # Change this if your main branch is named 'master'
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --app pallinky-prod
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}